.parent{
    border: 2px solid black;
    width: 50%;
    margin: auto;
}

.example-icon {
    margin-left: auto;
  }

.toolbar {
    text-align: center;
    margin-left: auto;
}

.body {
    background-color: #d3e0f2
}