.card-image{
    width:99%;


}

.card{
    width: 100%;
    margin-bottom: 10px;
}

.float-left {
    float: left;
    text-align: left;
}

.btnCard{
    width: 100%;
    background-color: #6750A4;
    color: #ffffff;
}

.float-left {
    float: right;
    text-align: right;
}



.card-title {
    padding-top: 20px;
}

.card-button {
    background-color: blueviolet;
    color: white;
    margin-bottom: 5px;
}