<div class="card">
<mat-card >
    <mat-card-subtitle>Festival</mat-card-subtitle>

    <mat-card-content class = "card-image">
        <img mat-card-image src={{event.image}} />
    </mat-card-content>

    <span class = "card-subtitle">
        <mat-card-subtitle class = "float-left">
        
            <div>{{event.date}}</div>  
            <div>{{event.Time}}</div>
        </mat-card-subtitle>
        <mat-card-subtitle class = "float-right">{{event.venue}}</mat-card-subtitle>
        
    </span>

    <div>

        <mat-card-title class = "card-title">
            {{event.Title}}
         </mat-card-title>
         <mat-card-content>
            {{event.Description}}
         </mat-card-content>
         
         <button mat-raised-button class = "btnCard">
            BOOK
         </button>


    </div>
    
     

</mat-card>

</div>